@import "tailwindcss";

@theme {
  /* Isso força o Tailwind v4 a criar a classe .font-roboto */
  --font-roboto: var(--font-roboto);
}

@layer base {
  :root {
    /* Mantenha apenas o que NÃO é fonte aqui */
    --color-custom: #222F37;
    --color-background: #0f172a;
    --color-foreground: #e5e7eb;
    --font-jam: 0.6rem;
    --width-1920: 1920px;
    --max-width-1920: 1920px;
  }

  /* Define o padrão global usando a variável do Next.js */
  html {
    font-family: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  }
}

